.platno {   
         background-color:Blue;
         }

h1 {text-align:center;}

.info {
text-align: center;
background-color: rgb(235, 235, 235);
width: 300px;
height: 600px;
}

#Vysledky{
vertical-align: middle;
}

.wrapper {
display:flex;
justify-content: center;
align-items: center;
}

#had {
    position : absolute;
    width : 50px;
    height : 50px;
    fill:yellow;
    stroke:green;
    fill-opacity:1.0;
    stroke-opacity:1.0;
    stroke-width:3;
    }
    
.cerv {
    position : absolute;
    fill:red;
    stroke:green;
    fill-opacity:1.0;
    stroke-opacity:1.0;
    stroke-width:3;
}